:root{
    --background-color: #000000;
    --resalt-color: #6A0DAD;

    --mark-color: #B19CD9;
    --resalt-background-color: #333333;
    --interface-color: #888888;

    --principal-font: #FFFFFF;
    --secundary-font: #CCCCCC;
    --resalt-font: #6A0DAD;
    --postresalt-font: #B19CD9;

    --nav-heigth: 16vh;
    --mainsubarticle-margin-top: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    margin: 0;
    background-color: black;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*nav*/
body > nav{
    height: var(--nav-heigth);
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    margin: 0;
    z-index: 999;
}

nav > img {
    border-radius: 10px;
    height: 50%;
    margin-left: 2%;
}

nav > ul:first-of-type {
    list-style: none;
    display: flex;
    position: relative;
    float: right;
    width: 70%;
    justify-content: space-evenly;
}

nav > ul:first-of-type > li:first-of-type {
    margin-right: 1%;
    margin-left: 1%;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin-right: 2%;
  }
  
  .burger input {
    display: none;
  }
  
  #burger{
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--principal-font);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

nav > ul:last-of-type {
    width: 100%;
    background-color: var(--interface-color);
    position: absolute;
    top: var(--nav-heigth);
    margin: 0;
    list-style: none;
    padding: 0;
    height: 0;
    overflow: hidden;
    /*height: calc(100vh - var(--nav-heigth));*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

nav > ul:last-of-type > li {
    font-size: 3.5em;
    color: var(--principal-font);
    font-weight: bold;
}

.menu_burger:checked + ul{
    height: calc(100vh - var(--nav-heigth));
}

@media (min-width: 700px){
    .burger{
        display: none;
    }
    nav > ul:last-of-type{
        display: none;
    }

}

@media (max-width: 700px){
  nav > ul:first-of-type{
        display: none;
    }

}

/*header*/
body > header{
    height: auto;
    width: 100%;
    margin-top: calc(2vh + var(--nav-heigth));
}

header:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header:first-of-type > h3 {
  font-size: 5em;
  margin: 0;
}

header:first-of-type > main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
}

header:first-of-type > img {
  border-radius: 1%;
  width: 25%;
}

header:first-of-type > main > div > h1 {
  font-size: 5em;
  margin-bottom: 0;
}

header:first-of-type > main > div > h2 {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 10%;
}

header:first-of-type > main > div > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}

header:first-of-type > main > div > div > a {
  color: var(--principal-font);
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

header:first-of-type > main > div > div > a > img {
  color: var(--principal-font);
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

.contact-btn {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.contact-btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.contact-btn:hover .icon {
  width: calc(100% - 0.6em);
}

.contact-btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
  transform: rotate(90deg);
}

.contact-btn:hover .icon svg {
  transform: translateX(0.1em);
  transform: rotate(90deg);
}

.contact-btn:active .icon {
  transform: scale(0.95);
}

header:last-of-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

header:last-of-type > h3 {
  font-size: 5em;
  margin: 0;
  text-align: center;
}


header:last-of-type > img {
  border-radius: 1%;
  width: 100%;
}

header:last-of-type > main {
  text-align: center;
}

header:last-of-type > main > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header:last-of-type > main > div > h1 {
  font-size: 5em;
  margin-bottom: 0;
}

header:last-of-type > main > div > h2 {
  font-size: 2.5em;
  margin-top: 0;
}

header:last-of-type > main > div > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 5%;
  justify-content: center;
}

header:last-of-type > main > div > div > a {
  color: var(--principal-font);
  width: 10%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

header:last-of-type > main > div > div > a > img {
  color: var(--principal-font);
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
}

@media (min-width: 700px){
  header:last-of-type{
    display: none;
  }

}

@media (max-width: 700px){
  header:first-of-type{
    display: none;
  }

}

/*main*/
body > main{
    height: auto;
    width: 100%;

}

.about_me {
  margin-top: var(--mainsubarticle-margin-top);
}

.about_me > article{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_me > article > h3 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 3%;
}

.about_me > article > p {
  font-size: 1.2em;
  width: 80vi;
}

.skills {
  text-align: center;
  margin-top: var(--mainsubarticle-margin-top);
}

.skills > article > h3 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 3%;
}

.skills > article > p {
  font-size: 1.2em;
  width: 80vi;
}

.skills > article > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.skills > article > div > div {
  margin: 5%;
}

.skill-container {
  width: 24vi;
  height: 70vh;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.skill-container2 {
  width: 23vi;
  height: 69vh;
  background-color: var(--background-color);
  transition: all 0.2s;
  border-radius: 20px;
}

.skill-container2 > h4 {
  font-size: 2em;
  margin-top: 5%;
}

.skill-container2 > .skills-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  place-items: center;
}

.skill-container2 > .skills-item > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110px;
  margin-top: 20%;
  overflow: visible;
}

.skill-container2 > .skills-item > div > img {
  width: 40%;
}

.skill-container2 > .skills-item > div > span {
  position: absolute;
  margin-top: 10%;
  font-size: 1.6em;
  display: none;
  cursor: default;
}
.skill-container2 > .skills-item > div:hover > span {
  display: block;
  animation: span_skill 2s ease-in-out forwards;
}

@keyframes span_skill {
  0%{transform: translateY(-20px); opacity: 0%;}
  100%{transform: translateY(50px); opacity: 100%;}
}

@media (max-width: 1024px){
  .skills > article > div {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .skill-container {
    width: 60vi;
    height: 70vh;
  }
  
  .skill-container2 {
    width: 59vi;
    height: 69vh;
  }
}

@media (max-width: 768px){
  @keyframes span_skill {
    0%{transform: translateY(-30px); opacity: 0%;}
    100%{transform: translateY(30px); opacity: 100%;}
  }
}

@media (max-width: 425px){
  .skill-container {
    height: 43vh;
  }

  .skill-container2 {
    height: 42vh;
  }
}

.jobs {
  margin-top: var(--mainsubarticle-margin-top);
}

.jobs > article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jobs > article > h3 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 3%;
}

.job-item {
  width: 50vh;
  height: 444px;
  border-radius: 20px;
  background: var(--background-color);
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: center;
}

 .job-item::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 51vh;
  height: 454px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.job-item::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
 
 .job-item-details {
  color: var(--principal-font);
  height: 100%;
  gap: .5em;
  display: grid;
  place-items: center;
  width: 100%;
 }

 .job-item-tag{
  display: flex;
  margin-top: 3%;
 }

 .job-item-tag > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .job-item-tag > div > img {
  width: 20%;
  margin-right: 4%;
 }
 
 .job-item-button{
  width: 25vh;
  border-radius: 1rem;
  border: none;
  background-color: var(--resalt-color);
  color: var(--principal-font);
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  cursor: pointer;
  transform: translate(-50%, 100%);
  display: none;
 }

 .job-item:hover .job-item-button:first-of-type{
  animation: card_website 2s ease-in-out forwards ;
  display: block;
 }

 .job-item:hover .job-item-button:last-of-type{
  animation: card_github 2s ease-in-out forwards;
  display: block;
 }

 @keyframes card_website {
  0%{
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  55%{
    opacity: 0.1;
  }
  100%{
    transform: translateX(-110%);
    opacity: 1;
  }
 }
 
 @keyframes card_github {
  0%{
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  55%{
    opacity: 0.1;
  }
  100%{
    transform: translateX(10%);
    opacity: 1;
  }
 }

.job-item-button > a {
  color: var(--principal-font);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-item-button > a > img {
  width: 10%;
  margin-right: 5%;
}

 .job-item-text-body {
  color: var(--interface-color);
 }
 
 .job-item-text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 

@media (max-width: 425px){
  .job-item{
    transform: scale(0.9);
  }
  .job-item::after {
    background: var(--background-color);
    ;
  }
  
  .job-item::before {
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  }
}

/*footer*/
body > footer{
    height: 100vh;
    width: 100%;

}